<!DOCTYPE html>
<html>

<script>
  var callMe = function(myval){
   window.location.href = '/address?theValue='+myval;
  }
</script>

<link rel="stylesheet" type="text/css" href="/css/styles.css"/>

<div><img style="cursor: pointer;" onClick="window.location.href='/';" width="300" src="/img/EGEM-Sapphire-h-logo-black.png" /></div>
<div class="header">
  <h1>Egem Sapphire Explorer</h1>
  <span  class="header-title-span">Enter Address/Hash/Block Number</span>
  <input class="main-input" type="text" id="address" />
  <input type="button" value="submit" onClick="callMe(document.getElementById('address').value)" />
</div>
<div class="content">
  <div>{{address}}</div>
  <div>
    {{#each myBalanceReturn}}
    <span class="title-span">{{bal.ticker}}:</span></span>{{bal.balance}}</span>
    {{/each}}
  </div>

  <div>
    {{#each txCollection}}
    <div>
      <span class="title-span">From:</span><span>{{fromAddress}}</span>
      <span class="title-span">To:</span><span>{{toAddress}}</span>
      <span class="title-span">Ticker:</span><span>{{ticker}}</span>
      <span class="title-span">Amount:</span><span>{{amount}}</span>
      <span class="title-span">Hash:</span><span><a href="/address?theValue={{hash}}">{{hash}}</a></span>
    </div>
    {{/each}}
  </div>

</div>
</html>
