<!DOCTYPE html>
<html>

<script>
  var callMe = function(myval){
   window.location.href = '/address?theValue='+myval;
  }
</script>

<link rel="stylesheet" type="text/css" href="/css/styles.css"/>

<div><img style="cursor: pointer;" onClick="window.location.href='/';" width="300" src="/img/EGEM-Sapphire-h-logo-black.png" /></div>
<div class="header">
  <h1>Egem Sapphire Explorer</h1>
  <span  class="header-title-span">Enter Address/Hash/Block Number</span>
  <input class="main-input" type="text" id="address" />
  <input type="button" value="submit" onClick="callMe(document.getElementById('address').value)" />
</div>
<div class="content">
  <div>{{address}}</div>
  <div>
    {{#each myBalanceReturn}}
    <span class="title-span">{{bal.ticker}}:</span></span>{{bal.balance}}</span>
    {{/each}}
  </div>

  <div>
    <table class="tx-detail-table">
    {{#each txCollection}}

        <tr>
          <td><span class="title-span">From:</span></td><td><a href="/address?theValue={{fromAddress}}">{{fromAddress}}</a></td>
          <td><span class="title-span">To:</span></td><td><a href="/address?theValue={{toAddress}}">{{toAddress}}</a></td>
          <td><span class="title-span">Ticker:</span></td><td>{{ticker}}</td>
          <td><span class="title-span">Amount:</span></td><td>{{amount}}</td>
          <!--<td><span class="title-span">Hash:</span></td><td><a href="/address?theValue={{hash}}">{{hash}}</a></td>-->
          <td><span class="title-span">ts:</span></td><td><a href="/address?theValue={{hash}}">{{ts}}</a></td>
        </tr>

    {{/each}}
    </table>

</div>
</html>
