<!DOCTYPE html>
<html>

<script>
  var callMe = function(myval,start = 1){
   window.location.href = '/address?theValue='+myval+'&start='+start;
  }
</script>

<link rel="stylesheet" type="text/css" href="/css/styles.css"/>

<div><img style="cursor: pointer;" onClick="window.location.href='/';" width="300" src="/img/EGEM-Sapphire-h-logo-black.png" /></div>
<div class="header">
  <h1>Egem Sapphire Explorer</h1>
  <span  class="header-title-span">Enter Address/Hash/Block Number</span>
  <input class="main-input" type="text" id="address" />
  <input type="button" value="submit" onClick="callMe(document.getElementById('address').value)" />
</div>
<div class="content">
  <div><span class="title-span">blockHeight</span><span>{{myBlockReturn.blockHeight}}</span></div>
  <div><span class="title-span">previousHash</span><span>{{myBlockReturn.previousHash}}</span></div>
  <div><span class="title-span">timestamp</span><span>{{myBlockReturn.timestamp}}</span></div>
  <div><span class="title-span">transactions</span><span>{{myBlockReturn.transactions}}</span></div>
  <div><span class="title-span">orders</span><span>{{myBlockReturn.orders}}</span></div>
  <div><span class="title-span">ommers</span><span>{{myBlockReturn.ommers}}</span></div>
  <div><span class="title-span">nonce</span><span>{{myBlockReturn.nonce}}</span></div>
  <div><span class="title-span">eGEMBackReferenceBlock</span><span>{{myBlockReturn.eGEMBackReferenceBlock}}</span></div>
  <div><span class="title-span">eGEMBackReferenceBlockHash</span><span>{{myBlockReturn.egemBackReferenceBlockHash}}</span></div>
  <div><span class="title-span">sponsor</span><span><a href="/address?theValue={{myBlockReturn.sponsor}}&start=1">{{myBlockReturn.sponsor}}</a></span></div>
  <div><span class="title-span">miner</span><span><a href="/address?theValue={{myBlockReturn.miner}}&start=1">{{myBlockReturn.miner}}</a></span></div>
  <div><span class="title-span">chainStateHash</span><span>{{myBlockReturn.chainStateHash}}</span></div>
  <div><span class="title-span">difficulty</span><span>{{myBlockReturn.difficulty}}</span></div>
</div>
</html>
