<!DOCTYPE html>
<html>

<script>
  var callMe = function(myval){
   window.location.href = '/address?theValue='+myval;
  }
</script>

<link rel="stylesheet" type="text/css" href="/css/styles.css"/>

<div><img style="cursor: pointer;" onClick="window.location.href='/';" width="300" src="/img/EGEM-Sapphire-h-logo-black.png" /></div>
<div class="header">
  <h1>Egem Sapphire Explorer</h1>
  <span  class="header-title-span">Enter Address/Hash/Block Number</span>
  <input class="main-input" type="text" id="address" />
  <input type="button" value="submit" onClick="callMe(document.getElementById('address').value)" />
</div>

  <table>
    <tr>
      <td>
        <table class="tx-detail-table">
        {{#each buybook}}

            <tr>
              <th style="background-color:#6FE05A;" colspan="8">
              <div><span class="title-span">transaction ID:</span><a href="/address?theValue={{transactionID}}">{{transactionID}}</a></div>
              <div><span class="title-span">origination ID:</span><a href="/address?theValue={{originationID}}">{{originationID}}</a></div>
              <div>{{pairing}} BUY ORDER <span class="title-span">timestamp: {{timestamp}}</span></div>
            </th></tr>
            <tr style="background-color:yellow;">
              <td><span class="title-span">From:</span></td><td><a href="/address?theValue={{fromAddress}}">{{fromAddress}}</a></td>
              <td><span class="title-span">Pair:</span></td><td>BUY: {{pairBuy}} SELL: {{pairSell}}</td>
              <td><span class="title-span">Amount:</span></td><td>{{amount}}</td>
              <td><span class="title-span">Price:</span></td><td>{{price}}</td>
            </tr>

        {{/each}}
        </table>
      </td>
      <td>
        <table class="tx-detail-table">
          {{#each sellbook}}

            <tr>
              <th style="background-color:#FE6875;" colspan="8">
              <div><span class="title-span">transaction ID:</span><a href="/address?theValue={{transactionID}}">{{transactionID}}</a></div>
              <div><span class="title-span">origination ID:</span><a href="/address?theValue={{originationID}}">{{originationID}}</a></div>
              <div>{{pairing}} SELL ORDER <span class="title-span">timestamp: {{timestamp}}</span></div>
            </th></tr>
            <tr style="background-color:yellow;">
              <td><span class="title-span">From:</span></td><td><a href="/address?theValue={{fromAddress}}">{{fromAddress}}</a></td>
              <td><span class="title-span">Pair:</span></td><td>BUY: {{pairBuy}} SELL: {{pairSell}}</td>
              <td><span class="title-span">Amount:</span></td><td>{{amount}}</td>
              <td><span class="title-span">Price:</span></td><td>{{price}}</td>
            </tr>

          {{/each}}
        </table>
      </td>
    </tr>
  </table>

</html>
